openapi: 3.1.1
info:
  description: Visit our complete [Bookkeeping & Invoicing/eAccounting API docs](https://developer.vismaonline.com)
    for how to get started, information about authentication, error handling, query
    customization and more.<br/><br/>✉ [API Support](https://developer.vismaonline.com/docs/lets-get-started#support)
  title: Bookkeeping & Invoicing/eAccounting API V2
  version: v2
servers:
- url: https://eaccountingapi.vismaonline.com/v2/
tags:
- description: "Groups used to categorise and organise the articles.  \r\nOverview\
    \ of Article Labels Functionality: [Article labels](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/settings-article-labels.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing"
  name: ArticleLabels
- description: "A product or service that the company offers to customers, used on\
    \ quotes and invoices.    \r\nOverview of Articles Functionality: [Articles](https://support.spiris.se/bokforing-fakturering/en-se/content/online-help/sales-articles.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Solo"
  name: Articles
- description: "Draft invoices sent to customers before they are finalized and posted\
    \ to the accounting system.  \nOverview of Customer Invoice Functionality: [Customer\
    \ Invoices](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/sales-invoices.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Solo"
  name: CustomerInvoiceDrafts
- description: "Invoices sent to customers for goods or services provided by your\
    \ business. \nOverview of Customer Invoice Functionality: [Customer Invoices](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/sales-invoices.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Solo"
  name: CustomerInvoices
- description: "Historical valuation records for customer invoices.\r\n<br><br>\r\n\
    ___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\
    \n* Invoicing\r\n* Solo"
  name: CustomerInvoiceValuationHistories
- description: "Groups used to categorise and organise the customers.  \r\nOverview\
    \ of Customer Labels Functionality: [Customer Labels](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/customers.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing"
  name: CustomerLabels
- description: "\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants:\
    \ \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Solo"
  name: CustomerLedgerItems
- description: "Organizations or individuals that purchase goods or services from\
    \ your business.  \r\nOverview of Customer Functionality: [Customers](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/sales-customers.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Solo"
  name: Customers
- description: "Ways or means by which goods are delivered to the customer.\r\n<br><br>\r\
    \n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\
    \n* Invoicing\r\n* Solo"
  name: DeliveryMethods
- description: "Conditions that define risks and responsibilities during delivery.\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Solo"
  name: DeliveryTerms
- description: "Agreements that define specific discount terms and conditions for\
    \ customers. \nOverview of Discount Agreement Functionality: [Discount Agreements](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/settings-discount-agreements.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro"
  name: DiscountAgreements
- description: "A confirmed request for products or services to be delivered.  \r\n\
    Overview of Orders Functionality: [Orders](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/sales-order.htm)\r\
    \n<br><br>\r\n___\r\n\r\n Requires any of the following modules: \r\n* sales_standard\r\
    \n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\n\
    * Invoicing"
  name: Orders
- description: "A preliminary version of a quote that can be edited and finalized\
    \ before becoming an official quote.  \r\nOverview of Quotes Functionality: [Quotes](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/sales-quotes.htm)\r\
    \n<br><br>\r\n___\r\n\r\n Requires any of the following modules: \r\n* sales_standard\r\
    \n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\n\
    * Invoicing"
  name: QuoteDrafts
- description: "A proposed price for products or services before an order.  \r\nOverview\
    \ of Quotes Functionality: [Quotes](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/sales-quotes.htm)\r\
    \n<br><br>\r\n___\r\n\r\n Requires any of the following modules: \r\n* sales_standard\r\
    \n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\n\
    * Invoicing"
  name: Quotes
- description: "A list of sales prices for products or services.  \r\nOverview of\
    \ Sales Price List Functionality: [Sales Price List](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/settings-sales-pricelists.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro"
  name: SalesPriceLists
- description: "Agreed conditions for when and how a customer or supplier will pay.\r\
    \n\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n\
    * Pro\r\n* Standard\r\n* Invoicing\r\n* Solo\r\n* Bookkeeping"
  name: TermsOfPayment
- description: "Customer orders placed through Spiris webshop.  \r\nOverview of Webshop\
    \ Order Functionality: [Webshop](https://support.spiris.se/webshop/sv-se/content/online-help/minitoc-startpage-online-help.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing"
  name: WebshopOrders
- description: "Bank accounts associated with your company for handling financial\
    \ transactions.  \r\nOverview of Bank Account Functionality: [Bank Accounts](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/settings-cashbank-accounts-add.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Invoicing\r\n* Solo\r\n* Payroll"
  name: BankAccounts
- description: "Foreign payment codes used for international transactions with suppliers\
    \ outside the company's home country.\r\n<br><br>\r\n___\r\n\r\nAvailable in any\
    \ of the following variants: \r\n* Pro\r\n* Standard\r\n* Bookkeeping\r\n* Solo"
  name: ForeignPaymentCodes
- description: "Draft invoices from suppliers before they are finalized and posted\
    \ to the accounting system. \nOverview of Supplier Invoice Draft Functionality:\
    \ [Supplier Invoices](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/purchasing-purchase-invoice.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Solo\r\n* Bookkeeping\r\n* InvoicingCollaboration"
  name: SupplierInvoiceDrafts
- description: "Invoices received from suppliers for goods or services provided to\
    \ your business.  \r\nOverview of Supplier Invoice Functionality: [Supplier Invoices](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/purchasing-purchase-invoice.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Solo"
  name: SupplierInvoices
- description: "Historical valuation records for supplier invoices.\r\n<br><br>\r\n\
    ___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\
    \n* Invoicing\r\n* Solo\r\n* Bookkeeping"
  name: SupplierInvoiceValuationHistories
- description: "Records of transactions with a supplier, such as an invoice, credit\
    \ note, or payment.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following\
    \ variants: \r\n* Pro\r\n* Standard\r\n* Bookkeeping\r\n* Solo"
  name: SupplierLedgerItems
- description: "Organizations or individuals that provide goods or services to your\
    \ business.  \r\nOverview of Supplier Functionality: [Suppliers](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/purchasing-suppliers.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Solo\r\n* Bookkeeping\r\n* InvoicingCollaboration"
  name: Suppliers
- description: "Handles approval operations for various document types including supplier\
    \ invoice drafts and VAT reports.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of\
    \ the following variants: \r\n* Pro\r\n* Standard\r\n* Bookkeeping\r\n* Solo\r\
    \n* InvoicingCollaboration"
  name: Approval
- description: "App store activation status management for third-party integrations.\n\
    \r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo"
  name: AppStoreActivationStatus
- description: "Links that connect attachments, such as documents or images, to related\
    \ records like invoices or vouchers.\r\n<br><br>\r\n___\r\n\r\nAvailable in any\
    \ of the following variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\
    \n* Solo"
  name: AttachmentLinks
- description: "Files or documents that can be linked to records such as supplier\
    \ invoices and vouchers.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following\
    \ variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo"
  name: Attachments
- description: "Internal endpoints for retrieving auto-invoice inbound documents.\
    \ These endpoints are only available in test environments and are used for internal\
    \ integrations with Visma Administration.\r\n<br><br>\r\n___\r\n\r\nAvailable\
    \ in any of the following variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n\
    * Bookkeeping\r\n* Solo"
  name: AutoInvoice
- description: "Available banks in the system for banking operations and integrations.\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo"
  name: Bank
- description: "Charts and analytics endpoints for visualizing sales and purchase\
    \ invoice data.\n\nProvides aggregated chart data and detailed invoice information\
    \ for reporting and analytical purposes. These endpoints support financial dashboards\
    \ and data visualization components in the application.\r\n<br><br>\r\n___\r\n\
    \r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\n* Bookkeeping\r\
    \n* Solo\r\n* Invoicing"
  name: Charts
- description: "Configuration options of your company. \nOverview of Company Settings\
    \ Functionality: [Company settings](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/settings-company.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo\r\n* Payroll"
  name: CompanySettings
- description: "Information about your company including setup state, product variant,\
    \ and enabled modules.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following\
    \ variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Solo\r\n* Bookkeeping\r\
    \n* Payroll\r\n* InvoicingCollaboration"
  name: Company
- description: "The country information used for customers, suppliers, and addresses\
    \ in the company.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following\
    \ variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Solo\r\n* Bookkeeping\r\
    \n* Payroll"
  name: Countries
- description: "The monetary unit for business transactions.\r\n<br><br>\r\n___\r\n\
    \r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\
    \n* Bookkeeping\r\n* InvoicingCollaboration\r\n* Solo"
  name: Currencies
- description: "Documents represent uploaded or generated files, such as VAT reports\
    \ PDF's and backgrounds.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following\
    \ variants: \r\n* Pro\r\n* Standard\r\n* Bookkeeping\r\n* Invoicing\r\n* Solo"
  name: Documents
- description: "Identity lookup functionality for searching external identity information\
    \ based on name, identity number, and location parameters.\r\n<br><br>\r\n___\r\
    \n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\n\
    * Invoicing\r\n* Solo"
  name: IdentityLookup
- description: "Message threads allow users to communicate about specific documents\
    \ or general topics within the system. Each thread can contain multiple messages\
    \ and can be attached to various document types. \nOverview of Message Thread\
    \ Functionality: [Messages](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/general-notes-messages-send.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo"
  name: MessageThreads
- description: "Mobile functionality for Bookkeeping & Invoicing/eAccounting application.\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Solo\r\n* Bookkeeping\r\n* Invoicing"
  name: Mobile
- description: "Comments or observations that can be attached to various documents\
    \ and entities in the system. \nOverview of Notes Functionality: [Notes](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/general-notes-messages.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo"
  name: Notes
- description: "Links or references related to a partner, such as external resources\
    \ or connected documents.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following\
    \ variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo"
  name: PartnerResourceLinks
- description: "Files or documents that can be linked to records such as customer\
    \ invoices, quotes, and orders.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of\
    \ the following variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Solo"
  name: SalesDocumentAttachments
- description: "Manage trial account creation and invitation process.\n\nThis endpoint\
    \ is used by the marketing website to initiate the trial process when a potential\
    \ customer submits a trial request form. It sends an invitation email to the provided\
    \ email address.\n\r\n<br><br>\r\n___"
  name: Trials
- description: "Measurement units for articles and invoicing.\r\n<br><br>\r\n___\r\
    \n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\n\
    * Invoicing\r\n* Solo"
  name: Units
- description: "Users of Bookkeeping & Invoicing/eAccounting.\r\n<br><br>\r\n___\r\
    \n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Invoicing\r\n\
    * Standard\r\n* Bookkeeping\r\n* Solo\r\n* Payroll"
  name: Users
- description: "\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants:\
    \ \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo"
  name: VoTokenValidation
- description: "Webhooks allow your application to receive real-time notifications\
    \ when specific events occur in the system.\r\n<br><br>\r\n___\r\n\r\nAvailable\
    \ in any of the following variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n\
    * Bookkeeping\r\n* Solo"
  name: WebHooks
- description: "Integration endpoint for Zapier to create supplier invoice drafts.\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Solo"
  name: Zapier
- description: "The current financial balance of an account, showing the difference\
    \ between its debits and credits.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of\
    \ the following variants: \r\n* Pro\r\n* Standard\r\n* Bookkeeping\r\n* Solo"
  name: AccountBalance
- description: "\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants:\
    \ \r\n* Pro\r\n* Standard\r\n* Invoicing\r\n* Bookkeeping\r\n* Solo\r\n* Payroll"
  name: Accounts
- description: "Account types that can be used for categorizing accounts.  \r\nThis\
    \ is applicable on all countries but most relevant for the Netherlands.\r\n<br><br>\r\
    \n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\
    \n* Invoicing\r\n* Bookkeeping\r\n* Solo"
  name: AccountTypes
- description: "\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants:\
    \ \r\n* Pro\r\n* Standard\r\n* Bookkeeping"
  name: AllocationPeriods
- description: "Article account codings define the accounting rules and VAT settings\
    \ for articles (products/services) in the system.\r\nOverview of Article Account\
    \ Codings Functionality: [Article Account Codings](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/settings-sales-vat-ledger-settings.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Invoicing\r\n* Solo"
  name: ArticleAccountCodings
- description: "Bank transactions represent individual financial movements in and\
    \ out of your company's bank accounts. \nOverview of Bank Transaction Functionality:\
    \ [Bank Transactions](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/cashbank-register-transactions.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping"
  name: BankTransactions
- description: "Items that belong to cost centers, used for project tracking and cost\
    \ allocation. \nOverview of Cost Center Items Functionality: [Cost Centers](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/accounting-cost-centres.htm)\n\
    \r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Invoicing\r\n* Payroll"
  name: CostCenterItems
- description: "Cost centers provide a way to organize and track expenses across different\
    \ departments, projects, or business units within the company.  \r\nOverview of\
    \ Cost Center Functionality: [Cost Centers](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/accounting-cost-centres.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Invoicing\r\n* Payroll"
  name: CostCenters
- description: "The accounting periods that represent a complete financial year for\
    \ your company. Fiscal years define the start and end dates used for financial\
    \ reporting, accounting periods, and tax calculations.\r\n<br><br>\r\n___\r\n\r\
    \nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\n* Invoicing\r\
    \n* Bookkeeping\r\n* Solo\r\n* Payroll"
  name: FiscalYears
- description: "Fixed assets used to track long-term company resources such as equipment,\
    \ vehicles, or machines. *(Note: Despite the endpoint name, this resource represents\
    \ fixed assets rather than inventory items.)*  \r\nOverview of Fixed Assets Functionality:\
    \ [Fixed Assets](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/accounting-fixed-assets.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping"
  name: InventoryItems
- description: "A record of a payment transaction used to register customer or supplier\
    \ invoice payments.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following\
    \ variants: \r\n* Pro\r\n* Standard\r\n* Bookkeeping\r\n* Solo"
  name: PaymentVoucher
- description: "Projects that track work and expenses for specific customers or initiatives.\
    \ \nOverview of Project Functionality: [Projects](https://support.spiris.se/bokforing-fakturering/en-se/content/online-help/accounting-projects.htm)\n\
    \r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Invoicing\r\n* Payroll"
  name: Projects
- description: "A Swedish standard file format used to import and export accounting\
    \ data between different financial systems. \nThis implementation supports verifications\
    \ and documents but does not include opening or closing balances (IB/UB).\r\n\
    <br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Invoicing\r\n* Solo\r\n* Payroll"
  name: SieFileImportExport
- description: "VAT codes define the tax rates and types applicable to different transactions.\
    \  \r\nOverview of VAT Codes Functionality: [Vat Codes](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/accounting-vat-codes.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Invoicing\r\n* Solo"
  name: VatCode
- description: "VAT reports for your company, including periodic VAT returns, approval\
    \ status, and reporting details.  \r\nOverview of VAT Report Functionality: [VAT\
    \ Reports](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/accounting-vat-understanding.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Solo\r\n* InvoicingCollaboration"
  name: VatReport
- description: "A preliminary version of a voucher that can be edited and reviewed\
    \ before being finalized.\r\n<br><br>\r\n___\r\n\r\nAvailable in any of the following\
    \ variants: \r\n* Pro\r\n* Standard\r\n* Solo\r\n* Bookkeeping"
  name: VoucherDrafts
- description: "Transactions within your business organized by voucher entries with\
    \ debit and credit rows. \nOverview of Voucher Functionality: [Vouchers](https://support.spiris.se/bokforing-fakturering-plus/en-se/content/online-help/accounting-journal-entries.htm)\r\
    \n<br><br>\r\n___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\
    \n* Standard\r\n* Bookkeeping\r\n* Invoicing\r\n* Solo"
  name: Vouchers
- description: "Transactions within your business organized by voucher entries with\
    \ debit and credit rows, for handling customer or supplier payment differences.\
    \   \r\nThis endpoint is not available for Swedish companies.\r\n<br><br>\r\n\
    ___\r\n\r\nAvailable in any of the following variants: \r\n* Pro\r\n* Standard\r\
    \n* Bookkeeping\r\n* Invoicing\r\n* Solo"
  name: VoucherWithOverunderPayment
paths:
  /accountbalances/{date}:
    get:
      description: "Get all account balances at a specific date. The response will\
        \ include a list of account balances with their details, such as account number,\
        \ name, and balance at the given date.\r\n<br><br>\r\n___\r\n Requires any\
        \ of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly"
      parameters:
      - description: Date in format yyyy-MM-dd
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfAccountBalanceApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get account balances by date
      tags:
      - AccountBalance
  /accountbalances/{accountNumber}/{date}:
    get:
      description: "Get the balance for a specific account at a specific date. The\
        \ response will include the account details and the balance at the given date.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\
        \n* ea:accounting_readonly"
      parameters:
      - description: The account number
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Date in format yyyy-MM-dd
        explode: false
        in: path
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '404':
          description: Account not found
      summary: Get account balance by account number and date
      tags:
      - AccountBalance
  /accounts:
    get:
      description: "Get all accounts, or add query parameters to filter the results.\
        \ The response will include a list of accounts with their details, such as\
        \ account name, number, VAT code information, and fiscal year details.\r\n\
        <br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\
        \n* ea:accounting_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfAccountApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get accounts
      tags:
      - Accounts
    post:
      description: "Create a new account to a specified fiscal year. Use the FiscalYearId\
        \ property to specify the fiscal year. Account types can be set automatically\
        \ or provided manually depending on the useDefaultAccountType parameter.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting"
      parameters:
      - description: If true, the system will provide the standard account type
        explode: true
        in: query
        name: useDefaultAccountType
        required: false
        schema:
          default: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountApi'
          description: Account created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Account can't be created
      summary: Create account
      tags:
      - Accounts
  /accounts/standardaccounts:
    get:
      description: "Get a list of the predefined standard accounts. This endpoint\
        \ is only available for Dutch companies and returns the account types and\
        \ their corresponding account numbers.\r\n<br><br>\r\n___\r\n Requires any\
        \ of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfStandardAccountApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get standard accounts
      tags:
      - Accounts
  /accounts/{fiscalyearId}:
    get:
      description: "Get a list of accounts for a specific fiscal year, or add query\
        \ parameters to filter the results.\r\n<br><br>\r\n___\r\n Requires any of\
        \ the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly"
      parameters:
      - description: The fiscal year Id
        explode: false
        in: path
        name: fiscalyearId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfAccountApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get accounts by fiscal year
      tags:
      - Accounts
  /accounts/{fiscalyearId}/{accountNumber}:
    get:
      description: "Get a specific account from a given fiscal year by specifying\
        \ the account number. The response includes detailed account information and\
        \ description if available.\r\n<br><br>\r\n___\r\n Requires any of the following\
        \ scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly"
      parameters:
      - description: The fiscal year Id
        explode: false
        in: path
        name: fiscalyearId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The account number
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          format: int32
          title: currencyRateUnit
          type: integer
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '404':
          description: Account not found
      summary: Get single account
      tags:
      - Accounts
    put:
      description: "Replace an existing account's data in a given fiscal year, with\
        \ the provided new data. \r\nThis operation will only update the account in\
        \ the specified fiscal year.\r\n<br><br>\r\n___\r\n Requires any of the following\
        \ scopes: \r\n* ea:accounting"
      parameters:
      - description: The fiscal year ID
        explode: false
        in: path
        name: fiscalyearId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      - description: The account number
        explode: false
        in: path
        name: accountNumber
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountApi'
          description: Account replaced
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Account can't be replaced
        '404':
          description: Account not found
      summary: Replace account
      tags:
      - Accounts
  /accounts/batch: {}
  /accountTypes:
    get:
      description: "Get the default account types. The response will include a list\
        \ of account types and their descriptions.\r\n<br><br>\r\n___\r\n Requires\
        \ any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfAccountTypesApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get default account types
      tags:
      - AccountTypes
  /allocationperiods:
    get:
      description: "\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:purchase\r\n* ea:purchase_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfAllocationPeriodApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get allocation periods
      tags:
      - AllocationPeriods
    post:
      description: "\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:purchase"
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AllocationPlan'
              type: array
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationPeriodApi'
          description: Allocation periods created successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Add allocation periods for voucher or supplier invoice
      tags:
      - AllocationPeriods
    put:
      description: "\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:purchase"
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AllocationPlan'
              type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationPeriodApi'
          description: Allocation periods updated successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Update allocation periods for voucher or supplier invoice
      tags:
      - AllocationPeriods
  /allocationperiods/{allocationPeriodId}:
    get:
      description: "\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:purchase\r\n* ea:purchase_readonly"
      parameters:
      - description: The Id of the allocation period to retrieve
        explode: false
        in: path
        name: allocationPeriodId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationPeriodApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get single allocation period
      tags:
      - AllocationPeriods
  /approval/vatreport/{id}:
    put:
      description: "Update the approval status of a VAT report.\r\n<br><br>\r\n___\r\
        \n Requires any of the following scopes: \r\n* ea:accounting"
      parameters:
      - description: The Id of the vat report
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatReportApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Replace the approval status of a vat report
      tags:
      - Approval
  /approval/supplierinvoice/{id}:
    put:
      description: "Update the approval status of a supplier invoice draft.\r\n<br><br>\r\
        \n___\r\n Requires any of the following scopes: \r\n* ea:purchase"
      parameters:
      - description: The Id of the invoice draft
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalResponseApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Replace the approval status of a supplier invoice draft
      tags:
      - Approval
  /appstore/status:
    get:
      description: "Get app store activation status. Each status indicates whether\
        \ a specific third-party application is activated or deactivated for the user.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\
        \n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\
        \n* ea:purchase_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfAppStoreActivationStatusApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get app store activation statuses
      tags:
      - AppStoreActivationStatus
    put:
      description: "Update the activation status for a third-party application in\
        \ the app store.\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\
        \n* ea:purchase\r\n* ea:purchase_readonly"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreActivationStatusApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreActivationStatusApi'
          description: Status updated successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Update app store activation status
      tags:
      - AppStoreActivationStatus
  /articleaccountcodings:
    get:
      description: "Get all article account codings, or add query parameters to filter\
        \ the results. The response will include a list of article account codings\
        \ with their accounting rules, VAT settings, and account numbers for different\
        \ sales scenarios.\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Date to get VAT rates for. Defaults to today
        explode: true
        in: query
        name: vatRateDate
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfArticleAccountCodingApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get article account codings
      tags:
      - ArticleAccountCodings
  /articleaccountcodings/{articleAccountCodingId}:
    get:
      description: "Get a specific article account coding by its unique identifier.\
        \ The response will include the article account coding's details such as name,\
        \ type, VAT rate information, and account numbers for different sales scenarios.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\
        \n* ea:sales_readonly"
      parameters:
      - description: The ID of the article account coding to retrieve
        explode: false
        in: path
        name: articleAccountCodingId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      - description: Date to get VAT rates for. Defaults to today
        explode: true
        in: query
        name: vatRateDate
        required: false
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleAccountCodingApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get a specific article account coding
      tags:
      - ArticleAccountCodings
  /articlelabels:
    get:
      description: "Get all article labels, or add query parameters to filter the\
        \ results. The response will include a list of article labels with their details,\
        \ such as name and description information.\r\n<br><br>\r\n___\r\n Requires\
        \ any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfArticleLabelApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Gets all article labels
      tags:
      - ArticleLabels
    post:
      description: "Create a new article label.\r\n<br><br>\r\n___\r\n Requires any\
        \ of the following scopes: \r\n* ea:sales"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleLabelApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleLabelApi'
          description: The created article label
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: The article label can't be created
      summary: Create an article label
      tags:
      - ArticleLabels
  /articlelabels/{articleLabelId}:
    delete:
      description: "Deletes a specified article label. \r\n\r\n<br><br>\r\n___\r\n\
        \ Requires any of the following scopes: \r\n* ea:sales"
      parameters:
      - description: This represents the Id of the article label
        explode: false
        in: path
        name: articleLabelId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          description: Request successful
        '400':
          description: Article label can't be deleted
        '404':
          description: Article label not found
      summary: Delete an article label
      tags:
      - ArticleLabels
    put:
      description: "Replace an existing article label's data with the provided new\
        \ data. The article label must already exist in the system.\r\n<br><br>\r\n\
        ___\r\n Requires any of the following scopes: \r\n* ea:sales"
      parameters:
      - description: This represents the Id of the article label
        explode: false
        in: path
        name: articleLabelId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleLabelApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleLabelApi'
          description: The updated article label
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: The article label can't be updated
      summary: Replace an article label
      tags:
      - ArticleLabels
  /articlelabels/batch: {}
  /articles:
    get:
      description: "Get all articles, or add query parameters to filter the results.\
        \ The response will include a list of articles with their details, such as\
        \ name, description, price information and stock data.\r\n<br><br>\r\n___\r\
        \n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Show prices with two decimals
        explode: true
        in: query
        name: showPricesWithTwoDecimals
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Customer ID for price calculations.If customerId is provided\
          \ in querystring,\r\n                                       then article\
          \ prices and discounts will be returned based on which pricelist \r\n  \
          \                                     and discount agreement is assigned\
          \ to customer."
        explode: true
        in: query
        name: customerId
        required: false
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfArticleApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Gets articles
      tags:
      - Articles
    post:
      description: "Create a new article.\r\n<br><br>\r\n___\r\n Requires any of the\
        \ following scopes: \r\n* ea:sales"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleApi'
          description: The created article
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: The article can't be created
      summary: Create a single article
      tags:
      - Articles
  /articles/statistics: {}
  /articles/{articleId}:
    get:
      description: "Get a specific article by its unique identifier. The response\
        \ will contain the article's details, including name, description, pricing,\
        \ stock information and associated labels.\r\n<br><br>\r\n___\r\n Requires\
        \ any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: This represents the Id of the article
        explode: false
        in: path
        name: articleId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      - description: Show prices with two decimals
        explode: true
        in: query
        name: showPricesWithTwoDecimals
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Customer ID for price calculations.If customerId is provided\
          \ in querystring,\r\n                                       then article\
          \ prices and discounts will be returned based on which pricelist\r\n   \
          \                                    and discount agreement is assigned\
          \ to customer."
        explode: true
        in: query
        name: customerId
        required: false
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Gets an article by id
      tags:
      - Articles
    put:
      description: "Replace an existing article's data with the provided new data.\
        \ The article must already exist in the system.\r\n<br><br>\r\n___\r\n Requires\
        \ any of the following scopes: \r\n* ea:sales"
      parameters:
      - description: This represents the Id of the article
        explode: false
        in: path
        name: articleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleApi'
          description: The updated article
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: The article can't be updated
      summary: Replace an article
      tags:
      - Articles
  /articles/batch: {}
  /attachmentlinks:
    post:
      description: "Create news link between an existing document and a set of attachments.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\
        \n* ea:purchase"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentLinkApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentLinkApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Create new links between an existing document and a set of attachments
      tags:
      - AttachmentLinks
  /attachmentlinks/batch: {}
  /attachmentlinks/{attachmentId}:
    delete:
      description: "Delete a link between an existing document and an attachment.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\
        \n* ea:purchase"
      parameters:
      - description: The attachment Id to unlink
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Delete the link between an existing document and its attachment
      tags:
      - AttachmentLinks
  /attachments:
    get:
      description: "Get all attachments, or add query parameters to filter the result.\
        \ The response will include a list of attachments, with details such as attachment\
        \ id, file name, and upload date.\r\n<br><br>\r\n___\r\n Requires any of the\
        \ following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly\r\n* ea:accounting\r\
        \n* ea:accounting_readonly"
      parameters:
      - description: 'Default value: true. When set to false the endpoint returns
          just the unmatched attachments.'
        explode: true
        in: query
        name: includeMatched
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: 'Default value: true. When set to false the endpoint returns
          attachments but does not provide the TemporaryUrl.'
        explode: true
        in: query
        name: includeTemporaryUrl
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfAttachment'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get attachments
      tags:
      - Attachments
    post:
      description: "Create a new attachment.\r\n<br><br>\r\n___\r\n Requires any of\
        \ the following scopes: \r\n* ea:purchase\r\n* ea:accounting"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUploadApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Attachment created successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Create an attachment
      tags:
      - Attachments
  /attachments/{attachmentId}:
    delete:
      description: "Delete an attachment. Only attachments without any linked transactions\
        \ can be deleted.\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:purchase\r\n* ea:accounting"
      parameters:
      - description: This represents the Id of the attachment you want to delete
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          description: Attachment deleted successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Delete an attachment
      tags:
      - Attachments
    get:
      description: "Get a specific attachment by its unique identifier. The response\
        \ will include details such as attachment id, file name, upload date, and\
        \ a link to download the attachment.\r\n<br><br>\r\n___\r\n Requires any of\
        \ the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly\r\n* ea:accounting\r\
        \n* ea:accounting_readonly"
      parameters:
      - description: This represents the Id of the attachment you want to get
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get a specific attachment based on id
      tags:
      - Attachments
  /attachments/{attachmentId}/interpretation: {}
  /autoinvoice/inbound: {}
  /autoinvoice/inbound/{sequenceNumber}: {}
  /bankaccounts:
    get:
      description: "Get all bank accounts, or add query parameters to filter the results.\
        \ The response will include a list of bank accounts with their details, such\
        \ as account type, bank information, and current balance.\r\n<br><br>\r\n\
        ___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfBankAccountApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get bank accounts
      tags:
      - BankAccounts
    post:
      description: "Create a new bank account for your company.\r\n<br><br>\r\n___\r\
        \n Requires any of the following scopes: \r\n* ea:purchase"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountApi'
          description: Bank account created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bank account can't be created
      summary: Create a bank account
      tags:
      - BankAccounts
  /bankaccounts/{bankAccountId}:
    delete:
      description: "Delete a specified bank account. Only bank accounts without any\
        \ linked transactions can be deleted. To hide a bank account that has transactions,\
        \ set the `isActive` property to `false` in a PUT request.\r\n<br><br>\r\n\
        ___\r\n Requires any of the following scopes: \r\n* ea:purchase"
      parameters:
      - description: This represents the Id of the Bank Account.
        explode: false
        in: path
        name: bankAccountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          description: Request successful
        '400':
          description: Bank account can't be deleted
        '404':
          description: Bank account not found
      summary: Delete a bank account
      tags:
      - BankAccounts
    get:
      description: "Get a specific bank account by its unique identifier. The response\
        \ will include detailed information about the bank account, including its\
        \ type, bank details, balance information, and any associated properties.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\
        \n* ea:purchase_readonly"
      parameters:
      - description: This represents the Id of the Bank Account.
        explode: false
        in: path
        name: bankAccountId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '404':
          description: Bank account not found
      summary: Get a bank account
      tags:
      - BankAccounts
    put:
      description: "Replace an existing bank account's data with the provided new\
        \ data. The bank account must already exist in the system.\r\n<br><br>\r\n\
        ___\r\n Requires any of the following scopes: \r\n* ea:purchase"
      parameters:
      - description: This represents the Id of the Bank Account.
        explode: false
        in: path
        name: bankAccountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountApi'
          description: Bank account replaced
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bank account can't be replaced
        '404':
          description: Bank account not found
      summary: Replace a bank account
      tags:
      - BankAccounts
  /banktransactions/{bankAccountId}/matched:
    get:
      description: "Get all matched bank transactions for a specific bank account\
        \ within a date range, or add query parameters to filter the results. Matched\
        \ bank transactions are those that have been reconciled with business transactions\
        \ in the accounting system.\r\n<br><br>\r\n___\r\n Requires any of the following\
        \ scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n\
        * ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly"
      parameters:
      - description: The company bank account to which the requested transactions
          correspond
        explode: false
        in: path
        name: bankAccountId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      - description: 'Default: First day of the current month'
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          title: dueDate
          type: string
        style: form
      - description: 'Default: Last day of the current month'
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          title: dueDate
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfBankTransactionApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get a list of matched bank transactions
      tags:
      - BankTransactions
  /banktransactions/{bankAccountId}/unmatched:
    get:
      description: "Get all unmatched bank transactions for a specific bank account\
        \ within a date range, or add query parameters to filter the results. Unmatched\
        \ bank transactions are those that have not yet been reconciled with business\
        \ transactions in the accounting system.\r\n<br><br>\r\n___\r\n Requires any\
        \ of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\
        \n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly"
      parameters:
      - description: The company bank account to which the requested transactions
          correspond
        explode: false
        in: path
        name: bankAccountId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: 'Default: First day of the current month'
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: 'Default: Last day of the current month'
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfBankTransactionApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get a list of unmatched bank transactions
      tags:
      - BankTransactions
  /banktransactions/{bankAccountId}/{bankTransactionId}:
    get:
      description: "Get a specific bank transaction by its unique identifier. The\
        \ response includes detailed information about the transaction and any associated\
        \ reconciliation data.\r\n<br><br>\r\n___\r\n Requires any of the following\
        \ scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n\
        * ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly"
      parameters:
      - description: The company bank account of the request transaction
        explode: false
        in: path
        name: bankAccountId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      - description: The requested transaction id
        explode: false
        in: path
        name: bankTransactionId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransactionApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '404':
          description: Bank transaction not found
      summary: Get a specific bank transaction
      tags:
      - BankTransactions
  /banks:
    get:
      description: "Get all available banks for the company's country, or add query\
        \ parameters to filter the results. The response will include a list of banks\
        \ with their identifiers and names.\r\n<br><br>\r\n___\r\n Requires any of\
        \ the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfBankApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get available banks
      tags:
      - Bank
  /charts/salesandpurchaseinvoices: {}
  /charts/salesandpurchaseinvoices/documents: {}
  /companysettings:
    get:
      description: "Get the current company settings for the authenticated user's\
        \ company.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\
        \n* ea:sales\r\n* ea:sales_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySettingsApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get company settings
      tags:
      - CompanySettings
    put:
      description: "Update the company settings' data with the provided new data.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySettingsApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySettingsApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Replace company settings
      tags:
      - CompanySettings
  /companysettings/accountinglocksettings:
    put:
      description: "Updates the accounting lock interval and related settings for\
        \ the company.\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:sales"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountingLockSettingsApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySettingsApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Update accounting lock settings
      tags:
      - CompanySettings
  /companysettings/rotrut:
    put:
      description: "Update ROT/RUT settings for Swedish companies using reduced invoicing.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyRotRutSettingsApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySettingsApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Update ROT/RUT settings
      tags:
      - CompanySettings
  /companysettings/autoinvoice/inbound: {}
  /companysettings/new: {}
  /company/info: {}
  /costcenteritems/{itemId}:
    get:
      description: "Get a specific cost center item by its unique identifier. The\
        \ response will include the item's details such as name, short name, and status.\n\
        \r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\
        \n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* vls:api"
      parameters:
      - description: The unique identifier of the cost center item to retrieve.
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCenterItemApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide
            is not completed.
        '404':
          description: Not Found
      summary: Get a specific cost center item
      tags:
      - CostCenterItems
  /costcenteritems:
    post:
      description: "Create a new cost center item within an existing cost center.\
        \ The item will be assigned a unique identifier and can be used for project\
        \ tracking and cost allocation.\n\r\n<br><br>\r\n___\r\n Requires any of the\
        \ following scopes: \r\n* ea:accounting\r\n* ea:sales\r\n* vls:api"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCenterItemApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCenterItemApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide
            is not completed.
      summary: Create a single cost center item
      tags:
      - CostCenterItems
  /costcenteritems/{costCenterItemId}:
    put:
      description: "Replace an existing cost center item's data with the provided\
        \ new data.\nThe cost center assignment cannot be changed through this operation.\n\
        \r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\
        \n* ea:sales\r\n* vls:api"
      parameters:
      - description: The unique identifier of the cost center item to update.
        explode: false
        in: path
        name: costCenterItemId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCenterItemApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCenterItemApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide
            is not completed.
        '404':
          description: Not Found
      summary: Replace the data in a cost center item
      tags:
      - CostCenterItems
  /costcenters:
    get:
      description: "Get all cost centers, or add query parameters to filter the results.\
        \ The response will include a list of cost centers with their details, such\
        \ as name, number, active status, and associated cost center items.\r\n<br><br>\r\
        \n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\
        \n* ea:sales\r\n* ea:sales_readonly\r\n* vls:api"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfCostCenterApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide
            is not completed.
      summary: Get cost centers
      tags:
      - CostCenters
  /costcenters/{id}:
    put:
      description: "Replace an existing cost center's data with the provided new data.\
        \ The cost center must already exist in the system.\r\n<br><br>\r\n___\r\n\
        \ Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:sales\r\
        \n* vls:api"
      parameters:
      - description: This represents the Id of the cost center.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCenterApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCenterApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide
            is not completed.
        '404':
          description: Not Found
      summary: Update a cost center
      tags:
      - CostCenters
  /countries:
    get:
      description: "Get all countries, or add query parameters to filter the results.\
        \ The response will include a list of countries with their details, such as\
        \ name, code, and EU membership status.\r\n<br><br>\r\n___\r\n Requires any\
        \ of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly\r\n* vls:api"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfCountryApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get countries
      tags:
      - Countries
  /countries/{countrycode}:
    get:
      description: "Get a specific country by its two-letter country code. The response\
        \ will include the country details such as name, code, and EU membership status.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\
        \n* ea:sales_readonly\r\n* vls:api"
      parameters:
      - description: Two letter code of requested country
        explode: false
        in: path
        name: countrycode
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get a specific country
      tags:
      - Countries
  /currencies:
    get:
      description: "Get all available currencies for the company. The response includes\
        \ a list of currency codes that can be used for transactions and invoicing.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\
        \n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfCurrencyApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get a list of currencies
      tags:
      - Currencies
  /currencies/exchangerate:
    get:
      description: "Get the exchange rate between two currencies for a specific date.\
        \ This is useful for converting amounts between currencies in international\
        \ transactions.\r\n<br><br>\r\n___\r\n Requires any of the following scopes:\
        \ \r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly"
      parameters:
      - description: Source currency code
        explode: true
        in: query
        name: sourceCurrencyCode
        required: false
        schema:
          type: string
        style: form
      - description: Target currency code
        explode: true
        in: query
        name: targetCurrencyCode
        required: false
        schema:
          type: string
        style: form
      - description: Date for the exchange rate
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date-time
          title: dueDate
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get currency exchange rate
      tags:
      - Currencies
  /customerinvoicedrafts:
    get:
      description: "Get all customer invoice drafts, or add query parameters to filter\
        \ the results. The response will include a list of customer invoice drafts\
        \ with their details, such as customer information, rows, totals and attachments.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\
        \n* ea:sales_readonly"
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfCustomerInvoiceDraftApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get all customer invoice drafts
      tags:
      - CustomerInvoiceDrafts
    post:
      description: "Create a new customer invoice draft.\r\n<br><br>\r\n___\r\n Requires\
        \ any of the following scopes: \r\n* ea:sales"
      parameters:
      - description: True to override if the customer on the draft is a private individual
        explode: true
        in: query
        name: overrideCustomerIsPrivatePerson
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceDraftApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDraftApi'
          description: Customer invoice draft created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Create a single customer invoice draft
      tags:
      - CustomerInvoiceDrafts
  /customerinvoicedrafts/statistics: {}
  /customerinvoicedrafts/{invoiceDraftId}:
    get:
      description: "Get a specific customer invoice draft by its unique identifier.\
        \ The response will include the invoice draft details, such as customer information,\
        \ rows, totals and attachments.\r\n<br><br>\r\n___\r\n Requires any of the\
        \ following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Id of the draft
        explode: false
        in: path
        name: invoiceDraftId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDraftApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get a customer invoice draft by id
      tags:
      - CustomerInvoiceDrafts
  /customerinvoicedrafts/dryrun: {}
  /customerinvoicedrafts/{customerInvoiceDraftId}:
    delete:
      description: "Delete an existing customer invoice draft.\r\n<br><br>\r\n___\r\
        \n Requires any of the following scopes: \r\n* ea:sales"
      parameters:
      - description: The id of the draft you want to delete
        explode: false
        in: path
        name: customerInvoiceDraftId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          description: Customer invoice draft deleted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Delete a customer invoice draft
      tags:
      - CustomerInvoiceDrafts
    put:
      description: "Replace an existing customer invoice draft's data with the provided\
        \ new data. The draft must already exist in the system.\r\n<br><br>\r\n___\r\
        \n Requires any of the following scopes: \r\n* ea:sales"
      parameters:
      - description: This is the id of the draft to update
        explode: false
        in: path
        name: customerInvoiceDraftId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceDraftApi'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDraftApi'
          description: Customer invoice draft updated
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Replace the data in a customer invoice draft
      tags:
      - CustomerInvoiceDrafts
  /customerinvoicedrafts/{customerInvoiceDraftId}/convert:
    post:
      description: "Convert an existing customer invoice draft to a customer invoice.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales"
      parameters:
      - description: Id of the draft you want to convert
        explode: false
        in: path
        name: customerInvoiceDraftId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      - description: Set to true so invoice date matches draft date
        explode: true
        in: query
        name: keepOriginalDraftDate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Set to true to override compay settings for draft date
        explode: true
        in: query
        name: overrideCompanyKeepOriginalDraftDate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceDraftValidationApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoiceApi'
          description: Customer invoice created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Convert a CustomerInvoiceDraft to a CustomerInvoice
      tags:
      - CustomerInvoiceDrafts
  /customerinvoices:
    get:
      description: "Get all customer invoices, or add query parameters to filter the\
        \ results. The response will include a list of customer invoices with their\
        \ details, such as customer information, rows, totals, and payment status.\r\
        \n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\
        \n* ea:sales_readonly"
      parameters:
      - description: Used to get the invoices which have been modified since a prompted
          date
        explode: true
        in: query
        name: modifiedSinceUtc
        required: false
        schema:
          format: date-time
          title: dueDate
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfCustomerInvoiceApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Get all customer invoices
      tags:
      - CustomerInvoices
    post:
      description: "Create a new customer invoice.\r\n<br><br>\r\n___\r\n Requires\
        \ any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Used for the automatic distribution per person of the rot reduced
          invoicing amount
        explode: true
        in: query
        name: rotReducedAutomaticDistribution
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoiceApi'
          description: Invoice created successfully
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Create a single customer invoice
      tags:
      - CustomerInvoices
  /customerinvoices/statistics: {}
  /customerinvoices/bookkeepingevents: {}
  /customerinvoices/bookkeepingevents/{bankTransactionId}: {}
  /customerinvoices/{invoiceId}:
    get:
      description: "Get a specific customer invoice by its unique identifier. The\
        \ response will include the invoice details, such as customer information,\
        \ rows, totals, and payment status.\r\n<br><br>\r\n___\r\n Requires any of\
        \ the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Customer invoice id
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          title: invoiceId
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoiceApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Gets a customer invoice with a specific id
      tags:
      - CustomerInvoices
  /customerinvoices/{invoiceId}/pdf:
    get:
      description: "Get a customer invoice in PDF format.\r\n<br><br>\r\n___\r\n Requires\
        \ any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Customer invoice id
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceUrlApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Gets a customer invoice in Portable Document Format (PDF)
      tags:
      - CustomerInvoices
  /customerinvoices/{invoiceId}/payments:
    post:
      description: "Create a payment for a customer invoice. The payment will be posted\
        \ in the general ledger.\r\n<br><br>\r\n___\r\n Requires any of the following\
        \ scopes: \r\n* ea:sales"
      parameters:
      - description: Customer invoice id
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePaymentApi'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentApi'
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Post a customer invoice payment
      tags:
      - CustomerInvoices
  /customerinvoices/dryrun: {}
  /customerinvoices/{invoiceId}/emailsettings: {}
  /customerinvoices/{invoiceId}/email:
    post:
      description: "Send an invoice by email.\r\n<br><br>\r\n___\r\n Requires any\
        \ of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Customer invoice id
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailApi'
      responses:
        '200':
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Send an invoice via email
      tags:
      - CustomerInvoices
  /customerinvoices/{invoiceId}/einvoice:
    post:
      description: "Send an invoice by e-invoice.\r\n<br><br>\r\n___\r\n Requires\
        \ any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Customer invoice id
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElectronicInvoiceRequestApi'
      responses:
        '200':
          description: Request successful
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
          description: Bad request
      summary: Send an invoice electronically
      tags:
      - CustomerInvoices
  /customerinvoices/{invoiceId}/paymentreminders:
    post:
      description: "Send a payment reminder email to an overdue invoice.\r\n<br><br>\r\
        \n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly"
      parameters:
      - description: Customer invoice id
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
[...]
